/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.default-color0.chart-series-line { -fx-stroke: #ff4500; }
.default-color1.chart-series-line { -fx-stroke: #000000; }

.default-color0.chart-line-symbol { -fx-background-color: #ff4500, white; }
.default-color1.chart-line-symbol { -fx-background-color: #000000, white; }
